:root {
  --width: 500px;
  --height: 500px;
  --cardWidth: 70px;
  --cardHeight: 70px;
}

body {
  background-color: darkgray;
}

#app {
  width: var(--width);
  height: var(--height);
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  background-color: gray;
}

.memory__card {
  width: var(--cardWidth);
  height: var(--cardHeight);
  border: 1px solid black;
  margin: 3px;
  background-color: aliceblue;
  overflow: hidden;
}

.memory__card img {
  width: var(--cardWidth);
  height: var(--cardHeight);
}

.hidden {
  display: none;
}